In [111]:
import pandas as pd
import numpy as np
import pickle
import estimator as e

# Load data

In [106]:
with open("ecb.pkl" , "rb") as f:
    ecb = pickle.load(f)

with open("fed.pkl" , "rb") as f:
    fed = pickle.load(f)

with open("data.pkl" , "rb") as f:
    data = pickle.load(f)

In [107]:
data

,CPICYOY Index,CPI XYOY Index,PCE DEFM Index,PCE CYOY Index,GDP CRCH Index,GDP CQOQ Index,USURTOT Index,COMPNFRY Index,MTSLRRT$ Index,RSRSTOTL Index,IP CHNG Index,PRFCESTB Index,PRFCESTD Index
Date,,,,,,,,,,,,,
1950-01-31,NaN,NaN,NaN,NaN,NaN,NaN,6.5,NaN,NaN,NaN,1.76,NaN,NaN
1950-02-28,NaN,NaN,NaN,NaN,NaN,NaN,6.4,NaN,NaN,NaN,0.38,NaN,NaN
1950-03-31,NaN,NaN,NaN,NaN,16.0,16.7,6.3,2.7,NaN,NaN,3.25,NaN,NaN
1950-04-30,NaN,NaN,NaN,NaN,NaN,NaN,5.8,NaN,NaN,NaN,3.33,NaN,NaN
1950-05-31,NaN,NaN,NaN,NaN,NaN,NaN,5.5,NaN,NaN,NaN,2.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-30,3.0,4.8,0.2,4.28008,3.8,2.1,3.6,5.0,534148.0,781.572,-0.60,NaN,NaN
2023-07-31,3.2,4.7,0.2,4.25376,NaN,NaN,3.5,NaN,538202.0,785.168,0.94,NaN,NaN
2023-08-31,3.7,4.3,0.4,3.80087,NaN,NaN,3.8,NaN,537709.0,793.256,0.02,NaN,NaN
2023-09-30,3.7,4.1,0.4,3.65213,8.9,5.2,3.8,4.2,541767.0,796.814,0.07,NaN,NaN
2023-10-31,3.1,4.0,0.0,3.46292,NaN,NaN,3.9,NaN,NaN,796.562,-0.63,NaN,NaN

In [108]:
W = fed[["Numeric Change"]]
Y = data[["USURTOT Index"]]

In [109]:
W

            Numeric Change
Date
2023-11-01               0
2023-07-26              25
2023-05-03              25
2023-02-01              25
2022-11-02              75
...                    ...
1997-09-30               0
1997-08-19               0
1997-07-02               0
1997-05-20               0
1997-03-25               0

[161 rows x 1 columns]

In [112]:
estimator = e.Estimator(W, Y)

# Calculate the estimator and variance with dummy values for demonstration
tau_hat, var_tau_hat = estimator.estimate(w=25, w_prime=0, p=20, h=20)

tau_hat, var_tau_hat

IndexError: single positional indexer is out-of-bounds

In [96]:
# Load the cleaned data from the CSV file
file_path_csv = '/mnt/data/data.csv'
data_csv = pd.read_csv(file_path_csv)

# Convert 'Date' to datetime and set as index
data_csv['Date'] = pd.to_datetime(data_csv['Date'])
data_csv.set_index('Date', inplace=True)

# Remove the 'Unnamed: 0' column
data_csv.drop(columns=['Unnamed: 0'], inplace=True)

# Convert all other columns to numeric format (they should already be in numeric format, but this will ensure it)
data_csv = data_csv.apply(pd.to_numeric, errors='coerce')

# Now, let's select the W and Y dataframes for the estimator
# This is just an example, the actual columns should be chosen according to the user's data
W = data_csv.iloc[:, 1]  # Assuming the second column is W
Y = data_csv.iloc[:, 2]  # Assuming the third column is Y

# Initialize the estimator with W and Y series
estimator = Estimator(W, Y)

# Example usage with dummy values for w, w_prime, p, and h
# These should be replaced with actual values as per the user's requirements
tau_hat, var_tau_hat = estimator.estimate(w=0.5, w_prime=0.7, p=1, h=0.1)

tau_hat, var_tau_hat

            Numeric Change
Date
2023-11-01               0
2023-07-26              25
2023-05-03              25
2023-02-01              25
2022-11-02              75
...                    ...
1997-09-30               0
1997-08-19               0
1997-07-02               0
1997-05-20               0
1997-03-25               0

[161 rows x 1 columns]